<h1>Bookshelf</h1>



<table class="table">
	<% @books.each do |e| %>
		<tr>
			<td>
				<%= e.name %>
			</td>
			<td>
				<%= link_to 'Show', book_path(e), :class => "btn btn-primary" %>
				<%= link_to 'edit', edit_book_path(e), :class => "btn btn-default" %>
				<%= link_to 'delete', book_path(e), :method => :delete, :class => "btn btn-danger" %>

				<%= link_to ' XML', event_path(e, :format => :xml), :class => "btn btn-default" %>
		    	<%= link_to ' JSON', event_path(e, :format => :json), :class => "btn btn-default" %>			
			</td>
		</tr>
	


<% end %>
</table>


<div class="container">
	<%= form_for @book, :url => books_path do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Create", :class => "btn btn-primary" %>
	<% end %>

</div>


<%= paginate @books %>